<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/users-components/editar-component.html">
<link rel="import" href="/src/accounts-components/accounts-component.html">
<link rel="import" href="/src/accounts-components/transactions-component.html">
<link rel="import" href="../styles/header-style.html">

<dom-module id="home-usuario">
  <template>
    <style include="header-style"></style>


    <template is="dom-if" if="[[isLogged]]">
      <header class="header-basic-light">
      	<div class="header-limiter">
      		<h1><a href="#">Mi-<span>Banco</span> | [[user.apellido]], [[user.nombre]]</a></h1>
      		<nav>
            <a href="#" on-click="verCuentas">Mis Cuentas</a>
      			<a href="#" on-click="verPerfil"> | Editar Perfil </a>
      			<a href="#" on-click="logout" class="selected">Logout</a>
      		</nav>
      	</div>
      </header>

      <div>
        <div hidden$="[[!showedit]]">
            <editar-component id="EditarComponent" user={{user}}></editar-component>
        </div>

        <div hidden$="[[!showaccount]]">
          <accounts-component user="[[user]]" accounts="{{accounts}}"></accounts-component>
          <transactions-component  id="TrnComponent" accounts="{{accounts}}" user=[[user]]></transactions-component>
        </div>



      </div>

    </template>
  </template>

  <script>
    class HomeUsuario extends Polymer.Element {
      static get is() { return 'home-usuario'; }
      static get properties() {
        return {
          isLogged: {
            type: Boolean,
            value: false
          },
          showlogin: {
            type: Boolean,
            notify: true
          },
          user: {
            type: Object
          },
          accounts: {
            type: Array
          },
          transactions: {
            type: Array
          },
          showedit: {
            type:Boolean,
            value: false
          },
          showaccount: {
            type:Boolean,
            value: true
          }
        };
      }

      mostrarDatosRecibidos(data){
        console.log("Receptor home:"+JSON.stringify(data));
        this.isLogged = data.isLogged;
        this.showaccount = true;
        this.user = data.user;
        this.accounts = data.accounts
      }
      verCuentas() {
          this.showedit = false;
          this.showaccount = true;
      }
      verPerfil() {
        this.showedit = true;
        this.showaccount = false;
      }
      logout() {
        this.isLogged = false;
        this.showlogin = true;
        this.showedit = false;
        this.showaccount = false;
      }
    }


    window.customElements.define(HomeUsuario.is, HomeUsuario);
  </script>
</dom-module>
