<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/users-components/login-component.html">
<link rel="import" href="/src/home-usuario/home-usuario.html">
<link rel="import" href="/src/users-components/registrar-component.html">

<dom-module id="home-component">
  <template>
    <registrar-component id="RegistroComponent"></registrar-component>
    <login-component id="LoginComponent" showlogin="{{showlogin}}"></login-component>
    <home-usuario id="UsuarioComponent" showlogin="{{showlogin}}"></home-usuario>

  </template>

  <script>
    class HomeComponent extends Polymer.Element {
      static get is() { return 'home-component'; }
      ready(){
       super.ready();
       this.$.LoginComponent.addEventListener('loginOK', e => {this.procesarLogin(e)});
       this.$.LoginComponent.addEventListener('registrar', e => {this.registrar(e)});
       this.$.RegistroComponent.addEventListener('volverLogin', e => {this.volverLogin(e)});

      }
      static get properties() {
        return {
          showlogin: {
            type: Boolean,
            value: true
          }
        };
      }
      procesarLogin(e){
       this.showlogin = false;
       console.log("Padre Soy loginOK:"+ e.detail);
       this.$.UsuarioComponent.mostrarDatosRecibidos(e.detail);
     }
     registrar(e) {
       console.log("registrar");
       this.$.RegistroComponent.initForm(e.detail);
     }
     volverLogin(e) {
       console.log("volver");
       this.$.LoginComponent.initForm(e.detail);
     }
    }

    window.customElements.define(HomeComponent.is, HomeComponent);
  </script>
</dom-module>
