<dom-module id="header-style">
  <template>
    <style>

    .header-basic-light{
    	padding: 20px 40px;
    	box-sizing:border-box;
    	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
    	height: 80px;
    	background-color: #fff;
    }

    .header-basic-light .header-limiter {
    	max-width: 1200px;
    	text-align: center;
    	margin: 0 auto;
    }

    /* Logo */

    .header-basic-light .header-limiter h1{
    	float: left;
    	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
    	line-height: 40px;
    	margin: 0;
    }

    .header-basic-light .header-limiter h1 span {
    	color: #4CAF50;
    }

    /* The header links */

    .header-basic-light .header-limiter a {
    	color: #5c616a;
    	text-decoration: none;
    }

    .header-basic-light .header-limiter nav{
    	font:15px Arial, Helvetica, sans-serif;
    	line-height: 40px;
    	float: right;
    }

    .header-basic-light .header-limiter nav a{
    	display: inline-block;
    	padding: 0 5px;
    	opacity: 0.9;
    	text-decoration:none;
    	color: #5c616a;
    	line-height:1;
    }

    .header-basic-light .header-limiter nav a.selected {
    	background-color: #4CAF50;
    	color: #ffffff;
    	border-radius: 3px;
    	padding:6px 10px;
    }

    /* Making the header responsive. */

    @media all and (max-width: 600px) {

    	.header-basic-light {
    		padding: 20px 0;
    		height: 85px;
    	}

    	.header-basic-light .header-limiter h1 {
    		float: none;
    		margin: -8px 0 10px;
    		text-align: center;
    		font-size: 24px;
    		line-height: 1;
    	}

    	.header-basic-light .header-limiter nav {
    		line-height: 1;
    		float:none;
    	}

    	.header-basic-light .header-limiter nav a {
    		font-size: 13px;
    	}

    }
       </style>
  </template>
</dom-module>
