<dom-module id="my-style">
  <template>
    <style>
    :host {
      display: block;
      font-size: 14px;
      height: 100%;
      min-height: 100%;
      font-family: 'Roboto', sans-serif;
      color: #555555;
    }
    .error{
      color: red;
    }
    .success{
      color: green
    }
    h3 {
      margin-block-start: 2em;
    }
    .maincontainer {
      border: 3px solid #f1f1f1;
      margin: 64px auto;
      width: 600px;
      height: auto;
      border-radius: 6px;
      box-shadow: 0 1px 6px, 0 1px 12px white;
    }
    .container {
       padding: 16px;
    }
    label {
      margin-top: 12px;
      display: inline-block;
    }
    input[type=text], input[type=password], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    button:hover {
        opacity: 0.8;
    }
    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
        display: inline-block;

    }
    .title {
      padding: 5px 0px;
      border-bottom: 1px solid #4CAF50;
      margin: 0 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size:14px;
    }
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
           display: block;
           float: none;
        }
        .cancelbtn {
           width: 100%;
        }
    }

    </style>
  </template>
</dom-module>
