<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">">
<link rel="import" href="../styles/my-style.html">


<dom-module id="accounts-component">
  <template>
    <style include="my-style">
      .actdiv {
        margin-left:20px;
        padding: 10px
      }
    </style>

    <iron-ajax id="getTransactions"
               url="http://localhost:3000/api-uruguay/v1/users/[[user.id]]/accounts/[[accountId]]/transactions"
               method="GET"
               content-type="application/json"
               handle-as="json"
               headers="{{headers}}"
               on-response="procesarTransacciones"
               on-error="mostrarError">
    </iron-ajax>
    <iron-localstorage name="techu.jwt" value="{{jwt}}"></iron-localstorage>

    <div class="maincontainer">
      <div class="title">
        <h3>Mis cuentas </h3>
      </div>
      <div class="container">
        <template is="dom-repeat" items="{{accounts}}">
            <div class="actdiv">
              <span style="font-size: 20px"><b> [[item.name]] </b>  | [[item.id]] <span><br/>
              <span style="font-size: 15px; display:inline-block; width: 150px">Saldo: {{item.balance}}</span>

              <span style="font-size: 15px; margin-left: 250px; color: #4CAF50; cursor: pointer" on-click="verMovimientos">Ver movimientos</span>
              <br/>
            </div>
        </template>
      </div>

      <div hidden$="[[!showMovimientos]]">
        <div class="title" style: "margin-bottom:0px">
          <h3>Movimientos cuenta: {{accountId}} </h3>
        </div>
        <div class="container">
          <vaadin-grid id="grilla" items="[[transactions]]" style="height: 250px">
            <vaadin-grid-column path="date" header="Fecha"></vaadin-grid-column>
            <vaadin-grid-column path="description" header="Descripcion"></vaadin-grid-column>
            <vaadin-grid-column path="amount" header="Importe"></vaadin-grid-column>
            <vaadin-grid-column path="type" header="C/D"></vaadin-grid-column>
          </vaadin-grid>
        </div>
      </div>

    </div>

  </template>
  <script>
    class AccountsComponent extends Polymer.Element {
      static get is() { return 'accounts-component'; }

      static get properties() {
        return {
          user: {
            type: Object
          },
          accounts: {
            type: Array
          },
          transactions: {
            type:Array
          },
          accountId: {
            type: String
          },
          showMovimientos: {
            type:Boolean,
            value: false
          }
        };
      }
      verMovimientos(cuenta) {
        this.accountId = cuenta.model.item.id;

        // Agrego el JWT
        this.headers = {'Authorization': this.jwt};
        this.$.getTransactions.generateRequest();
      }
      procesarTransacciones(resultado) {
        let list = resultado.detail.response;
        this.transactions = list;
        this.showMovimientos = true;

      }
    }

    window.customElements.define(AccountsComponent.is, AccountsComponent);
  </script>
</dom-module>
