<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">">
<link rel="import" href="../styles/my-style.html">

<dom-module id="transactions-component">
  <template>
    <style include="my-style">
      .actdiv {
        margin-left:20px;
        padding: 10px
      }
    </style>

    <iron-ajax id="doDeposito"
               url="http://localhost:3000/api-uruguay/v1/users/[[user.id]]/accounts/[[accountId]]/transactions"
               method="POST"
               content-type="application/json"
               handle-as="json"
               headers="{{headers}}"
               body="[[body]]"
               on-response="procesarTransacciones"
               on-error="mostrarError">
    </iron-ajax>
    <iron-localstorage name="techu.jwt" value="{{jwt}}"></iron-localstorage>

    <div class="maincontainer" style="margin: 0px auto;">
      <div class="title">
        <h3>Realizar movimientos.</h3>
      </div>
      <div class="container">
        <div hidden$="[[!error]]" class$="[[msgClass]]">
          <span>{{msg}}</span>
        </div>

        <label for="cuenta">Cuenta: </label>
          <select id="typeSelect" style="background: white" value="{{item.type::change}}">
          <option value="">Seleccione la cuenta</option>
          <template is="dom-repeat" items="{{accounts}}" as="type" >
            <option value="{{type.id}}">{{type.name}}</option>
          </template>
        </select>

        <label for="cuenta">Operacion: </label>
          <select id="operacionSelect" style="background: white">
          <option value="">Seleccione la operacion</option>
            <option value="Credito">Credito</option>
            <option value="Debito">Debito</option>
        </select>

        <label for="amount">Importe: </label>
        <input type="text"  placeholder="importe" value={{amount::input}} />
        <br/>

        <label for="concepto">Concepto: </label>
        <input type="text"  placeholder="concepto" value={{description::input}} />
        <br/>

        <button on-click="depositar">Aceptar</button>
      </div>
    </div>

  </template>
  <script>
    class TransactionsComponent extends Polymer.Element {
      static get is() { return 'transactions-component'; }

      static get properties() {
        return {
          accounts: {
            type: Array,
            notify: true
          },
          amount:  {
            type: Number
          },
          accountId: {
            type: Number
          },
          description:  {
            type: String
          },
          type: {
            type: String
          },
          user: {
            type: Object
          },
          msg: {
            type: String
          },
          msgClass: {
            type:String
          },
          body: {
            type: String
          }
        };
      }

      depositar(cuenta) {
        this.msg = undefined;
        this.accountId = this.$.typeSelect.value;
        this.type = this.$.operacionSelect.value;
        // Creo el usuario como lo espera la API
        var jsBody= {
          "amount": this.amount,
          "description": this.description,
          "type": this.type
        };
        this.body = JSON.stringify(jsBody);

        // Agrego el JWT
        this.headers = {'Authorization': this.jwt};
        this.$.doDeposito.generateRequest();
    }

    procesarTransacciones(resultado) {

      let index = 0;

      // Obengo el indice de la cuenta
      for(var i = 0; i < this.accounts.length; i++) {
        if (this.accounts[i].id == this.accountId) {
            index = i;
            break;
        }
      }

      // Creo la cuenta para con el nuevo balance (TODO: obtenerlo de la API)
      // Sustituir elemento es la unica forma que encontre de que el Array notifique los cambios
      let auxAmount = + parseFloat(this.amount).toFixed(2);
      let accAmount = + parseFloat(this.accounts[index].balance).toFixed(2)
      if (this.type == 'Debito') {
        auxAmount = auxAmount*-1;
      }
      let acc = {
        id : this.accounts[index].id,
        name : this.accounts[index].name,
        balance : auxAmount + accAmount
      }

      this.splice('accounts',index,1,acc);
      this.notifyPath('accounts');
      this.msg = "Depósito realizdo correctamente";
      this.msgClass = "success";
    }

    mostrarError(error){
      this.msg = "Ha ocurrido un error";
      this.msgClass = "error";

      let httpCode = error.detail.request.status;
      if (httpCode == 400) {
         this.msg =JSON.stringify(error.detail.request.response);
       } else {
         this.msg = "Ha ocurrido un error al registrar el usuario.";
       }
    }
  }



    window.customElements.define(TransactionsComponent.is, TransactionsComponent);
  </script>
</dom-module>
