<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styles/my-style.html">

<dom-module id="editar-component">
 <template>
   <style include="my-style"></style>

   <iron-ajax id="doUpdate"
              url="http://localhost:3000/api-uruguay/v1/users/[[user.id]]"
              method="PUT"
              content-type="application/json"
              handle-as="json"
              body="[[body]]"
              headers="{{headers}}"
              on-response="procesarUpdate"
              on-error="procesarError">
   </iron-ajax>
   <iron-localstorage name="techu.jwt" value="{{jwt}}"></iron-localstorage>

   <template is="dom-if" if="{{showEditar}}">
     <div class="maincontainer">
       <div class="title">
         <h3>Datos Personales</h3>
       </div>
       <div class="container">
         <div hidden$="[[!msg]]" class$="[[msgClass]]">
           {{msg}}
         </div>

         <label for="email">eMail: </label>
         <input type="text"  placeholder="eMail" value={{user.email::input}} readonly style="background-color: lightgray" />
         <br/>

         <label for="nombre">Primer Nombre: </label>
         <input type="text"  placeholder="Nombre" value={{user.nombre::input}} />
         <br/>

         <label for="apellido">Primer Apellido: </label>
         <input type="text"  placeholder="Apellido" value={{user.apellido::input}} />
         <br/>

         <label for="password">Contraseña: </label>
         <input type="password" placeholder="Password" value={{user.password::input}} />

         <br/>
         <button on-click="editar">Aceptar</button>
      </div>
     </div>
   </template>
 </template>

 <script>
     /**
    * @customElement
    * @polymer
    */
   class EditarComponent extends Polymer.Element {
     static get is() { return 'editar-component'; }
     static get properties() {
       return {
         user:{
           type: Object
         },
         msg: {
           type: String
         },
         error: {
           type: Boolean,
           value: false
         },
         showEditar: {
           type: Boolean,
           value: true
         }
       };
     }
     static get observers() {
      return [
          'userChanged(user.*)'
      ]
    }

    // For a property or sub-property dependency, the corresponding
    // argument is the new value of the property or sub-property
    userChanged(data) {
      this[data.path] = data.value;
    }
    initForm(data){
       this.showRegistro = data.showRegistro;
     }
    editar(){
       this.msg = undefined;

       // Creo el usuario como lo espera la API
       var jsBody=mapToAPIUser(this.user);
       this.body = JSON.stringify(jsBody);

       // Agrego el JWT
       this.headers = {'Authorization': this.jwt};
       this.$.doUpdate.generateRequest();
     }
     procesarUpdate(resultado) {
        this.showEditar = true;
        this.msg = "Datos modificados correctamente.";
        this.msgClass = "success";
     }
     procesarError(error) {
       this.error = true;
       this.msgClass = "error";
       let httpCode = error.detail.request.status;

       if (httpCode == 400) {
          this.msg =JSON.stringify(error.detail.request.response);
        } else {
          this.msg = "Ha ocurrido un error al registrar el usuario.";
        }

     }
   }

   window.customElements.define(EditarComponent.is, EditarComponent);
 </script>
</dom-module>
