<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../styles/my-style.html">

<dom-module id="login-component">
 <template>
  <style include="my-style">
  </style>

   <iron-localstorage name="techu.jwt" value="{{jwt}}"></iron-localstorage>

   <iron-ajax id="doLogin"
              url="http://localhost:3000/api-uruguay/v1/auth/login"
              method="POST"
              content-type="application/json"
              handle-as="json"
              body="[[body]]"
              on-response="procesarLogin"
              on-error="mostrarError">
   </iron-ajax>

   <template is="dom-if" if="{{showlogin}}">

     <div class="maincontainer">
       <div class="title">
         <h3>Acceso a Mi-Banco</h3>
       </div>
       <div class="container">
          <label for="email">Usuario: </label>
          <input type="text" placeholder="eMail" value={{email::input}} />
          <br/>

          <label for="password">Contraseña:</label>
          <input type="password" placeholder="password" value={{password::input}} />
          <br/>

          <button on-click="logar">Login</button>

          <div hidden$="[[!msg]]" class$="[[msgClass]]">
             {{msg}}
          </div>
        </div>
        <div class="container" style="background-color:#f1f1f1">
          <button on-click="registrar" class="cancelbtn">Registrarme</button>
        </div>
      </div>
   </template>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginComponent extends Polymer.Element {
     static get is() { return 'login-component'; }
     static get properties() {
       return {
         email:{
           type: String
         },
         password: {
           type: String
         },
         showlogin: {
           type: Boolean,
           value: false
         },
         msg: {
           type: Boolean,
           value: false
         },
         registro: {
           type: Boolean,
           value: false
         },
         body: {
           type: String
         }
       };
     }
     initForm(e) {
       this.showLogin = e.showLogin;
       if(e.email) {
         this.email = e.email;
       }
       if(e.msg) {
         this.msg = e.msg;
         this.msgClass = "success";
       }
     }
     logar() {
       console.log("1. El usuario ha pulsado el botón");

       var jsBody={
         "email": this.email,
         "password": this.password
       }

       this.body = JSON.stringify(jsBody);
       this.$.doLogin.generateRequest();
     }
     procesarLogin(resultado) {
      this.showlogin = false;
      let apiUser = resultado.detail.response.user;
      let usuario = mapFromAPIUser(apiUser);

      //Agrego el token JWS a localSession
      this.jwt = resultado.detail.response.jwt;

      this.dispatchEvent(new CustomEvent('loginOK', {detail:{user: usuario, accounts: apiUser.accounts, isLogged:true}}))
     }
     mostrarError(error) {
       this.msgClass = "error";
       let httpCode = error.detail.request.status;

       if (httpCode == 400) {
          this.msg =JSON.stringify(error.detail.request.response);
        } else if (httpCode == 401) {
            this.msg = "Usuario y/o Contraseña incorrectos.";
        } else {
            this.msg = "Ha ocurrido un error al loguear el usuario.";
        }

     }
     registrar() {
       console.log("1. El usuario ha pulsado el botón registrar");
       this.showLogin=false;
       this.msg = undefined;
       this.dispatchEvent(new CustomEvent('registrar', {detail:{email:this.email,showRegistro:true}}))
     }



   }

   window.customElements.define(LoginComponent.is, LoginComponent);
 </script>
</dom-module>
