<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styles/my-style.html">
<script src="./users.js"></script>

<dom-module id="registrar-component">
 <template>
   <style include="my-style"></style>
   
   <iron-ajax id="doRegistro"
              url="http://localhost:3000/api-uruguay/v1/users"
              method="POST"
              content-type="application/json"
              handle-as="json"
              body="[[body]]"
              on-response="procesarRegistro"
              on-error="procesarError">
   </iron-ajax>

   <template is="dom-if" if="{{showRegistro}}">
     <div class="maincontainer">
       <div class="title">
         <h3>Registro a Mi-Banco</h3>
       </div>
       <div class="container">
         <div hidden$="[[!error]]" class="error">
          Errores: {{msg}}
         </div>

         <label for="email">eMail: </label>
         <input type="text"  placeholder="eMail" value={{user.email::input}} />
         <br/>

         <label for="nombre">Primer Nombre: </label>
         <input type="text"  placeholder="Nombre" value={{user.nombre::input}} />
         <br/>

         <label for="apellido">Primer Apellido: </label>
         <input type="text"  placeholder="Apellido" value={{user.apellido::input}} />
         <br/>

         <label for="password">Contraseña: </label>
         <input type="password"  placeholder="Password" value={{user.password::input}} />

         <br/>
         <button on-click="registrar">Registrarme</button>
       </div>
       <div class="container" style="background-color:#f1f1f1">
         <button on-click="cancelar" class="cancelbtn">Cancelar</button>
       </div>
     </div>
   </template>
 </template>

 <script>
     /**
    * @customElement
    * @polymer
    */
   class RegistrarComponent extends Polymer.Element {
     static get is() { return 'registrar-component'; }
     static get properties() {
       return {
        user: {
           type: Object,
           value: function() {
            return {};
          }
         },
         msg: {
           type: String
         },
         error: {
           type: Boolean,
           value: false
         },
         showRegistro: {
           type: Boolean,
           value: false
         }
       };
     }
     static get observers() {
         return [
             'registroChanged(user.*)'
       ]
     }

     // For a property or sub-property dependency, the corresponding
     // argument is the new value of the property or sub-property
     registroChanged(data) {
         this[data.path] = data.value;
     }
     initForm(data){
       this.showRegistro = data.showRegistro;
     }
     registrar(){
       // Creo el usuario como lo espera la API
       var jsBody=mapToAPIUser(this.user);

       this.body = JSON.stringify(jsBody);
       this.$.doRegistro.generateRequest();
     }
     procesarRegistro(resultado) {
        this.showLogin = true;
        this.showRegistro = false;
        let mensaje = this.user.nombre + ", gracias por registrarte en MiBanco "
        this.dispatchEvent(new CustomEvent('volverLogin', {detail:{email: this.user.email, showLogin:true, msg: mensaje }}))
     }
     procesarError(error) {
       this.error = true;
       let httpCode = error.detail.request.status;

       if (httpCode == 400) {
          this.msg =JSON.stringify(error.detail.request.response);
        } else if (httpCode == 409){
          this.msg = "Su eMail ya se encuentra registrado en MiBanco.";
        } else {
            this.msg = "Ha ocurrido un error al registrar el usuario.";
        }

     }
     cancelar(){
       this.showRegistro = false;
       this.dispatchEvent(new CustomEvent('volverLogin', {detail:{showLogin:true}}))
     }
   }

   window.customElements.define(RegistrarComponent.is, RegistrarComponent);
 </script>
</dom-module>
